/*popovers*/
.popupBig{
	position:absolute;
	top:calc((100vh / 2) - 250px);
	left:calc((100vw / 2) - 25%);
	height:500px;
	width:50%;
	background:linear-gradient(to right,#c24ec2,#49a7ec);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	transform:scale(0);
	transition:transform 0.4s;
	z-index:4;

}
.btnCloseRow{
	height:50px;
}
.historyContainer{
	overflow-y:auto;
	height:223px;
}
.historyContainer label{
    width:100%;

}
.historyContainer ul li{
	list-style:none;
}

.actualBalanceRow{
	height:50px;
}
.actualBalanceValueRow{
	height:125px;
}
.actualHistoryRow{
	height:50px;
}
.lblBalance{
	font-size:30px;
}

.lblBalanceValue{
	font-size:70px;
}
.lblHistory{
	font-size:30px;
}

@media only screen and (max-width:800px){
	.popupBig{
		position:absolute;
		top:calc((100vh / 2) - 250px);
		left:calc((100vw / 2) - 43%);
		height:500px;
		width:calc(86%);
		background:linear-gradient(to right,#c24ec2,#49a7ec);
		font-family: 'M PLUS Rounded 1c', sans-serif;
		transform:scale(0);
		transition:transform 0.1s;
		z-index:4;
	}

	.historyContainer div label{
		font-size:14px;
	}

	.historyContainer div ul li{
		font-size:10px;
	}
	.lblHistory{
		font-size:20px;
	}
	.lblBalance{
		font-size:20px;
	}
}