/*popovers*/
.popupMini{
	position:absolute;
	top:calc((100vh / 2) - 150px);
	left:calc((100vw / 2) - 25%);
	height:300px;
	width:50%;
	background:linear-gradient(to right,#c24ec2,#49a7ec);
	font-family: 'M PLUS Rounded 1c', sans-serif;
	transform:scale(0);
	transition:transform 0.4s;
	z-index:4;
}

.txtAmountValue{
    background:none;
	font-size:60px;
    text-align:center;
    padding:10px 0px;
    border:none;
}
.txtAmountValue:focus{
    outline:none;
}

.btnCloseRow{
	height:50px;
}

.lblAmountRow{
	height:50px;
}
.txtAmountRow{
	height:125px;
}
.lblAmount{
	font-size:30px;
}

@media only screen and (max-width:800px){
	.popupMini{
		position:absolute;
		top:calc((100vh / 2) - 150px);
		left:calc((100vw / 2) - 43%);
		height:300px;
		width:86%;
		background:linear-gradient(to right,#c24ec2,#49a7ec);
		font-family: 'M PLUS Rounded 1c', sans-serif;
		transform:scale(0);
		transition:transform 0.1s;
		z-index:4;
	}
	.lblAmount{
		font-size:20px;
	}
}